.features .glyphicon {
	font-size: 32px;
}

.footer {
	color: #EDECEC;
	background-color: #363636;
}

.header {
	/*color: #aaa;*/
	background-color: #eee;
}

.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}


.top-layer {
	margin-top: 12px;
}

