{% load staticfiles %}

<!DOCTYPE html>
<html lang='ru'>
 <head>
  <title>Sovique's blog</title>
  <meta charset="utf-8">
  <link href="{% static 'css/bootstrap.min.css'%}" rel = 'stylesheet'/>
 <!-- <link href='css/main.css' rel = 'stylesheet'/> -->
 <!-- <link rel="stylesheet" href="{% static 'css/normalize.css'%}"></link> -->
  <link rel="stylesheet" href="{% static 'css/main.css'%}"></link>
 </head>
  <body>
   
   <div class="header">
    <div class='container-fluid'>
	 <div class='container'>
 	  <div class='row'>
	   <div class='col-md-12'>
	    <h1>Блог таргетолога</h1>
        <h3>SMM-таргетинг 80 уровня</h3>
	   </div>
      </div>
	 </div>
    </div>
   </div>
   
   <div class='container'>
   	<div class='row'>	
	 <div class='col-md-3'>	 
	  <section>
	   <h3>Обо мне</h3>
	   <img src="{% static 'images/keira.jpg'%}" alt='Чумовая фотка Алевтины Быстрой-Четкой'/>
	   <p>Меня зовут Алевтина Быстрая-Четкая, и я замечательный таргетолог.</p>
	   <p><a href='/'>Ачивки и правительственные награды</a> </p>
	  </section>
      <section>
	   <h3>Популярные посты</h3>
       <h5><a href='/'> Регистрация на семинар в Карнеги холле закрыта</a></h5>
       <h5><a href='/'> История успеха: SMM и бригадный коучинг</a></h5>
       <h5><a href='/'> Полезный инструментарий юного таргетолога</a></h5>
      </section>
	  <section>
	   <h3>Полезные ссылки</h3>
	   <h5><a href='/'>Канвасы в ФБ: настрой сам!</a></h5>
       <h5><a href='/'>ВК повысил ставки в ключевых отраслях</a></h5>
	  </section> 
     </div>     
   <!--  <div class='col-md-offset-1'></div> -- вот так НЕ РАБОТАЕТ! это не создает сдвига. -->
   <!--  <div class='col-md-9 col-md-offset-1'>	-- а вот так РАБОТАЕТ! это сдвиг на 1 единицу + колонка в 9 единиц -->
	 <div class='col-md-8'>
	  {% for post in posts %}
	   <section>
		<h2>{{post.title}}</h2> 
	   <div class='row'>
        <div class='col-md-2'><h6>{{post.datetime.date}}<h6></div>
  	    <div class='col-md-10'><h6><a href='/'>жизнь</a>, <a href='/'>малина</a>, <a href='/'>fb</a></h6></div>
	   </div>	
	   <p>{{post.content|safe}}</p>
	   <h5><a href='/'>Comments</a></h5>
	   </section>
	  {% endfor %}
     </div>
	 <div class='col-md-1'></div>
	</div> 
   </div>	
   
   <div class='row text-center'> <h5><a href='/'>Следующие 20 постов</a></h5> </div>
   
   <div class='footer'>
    <div class='container'>
	 <div class='row'>
	  <div class='top-layer'>	
	   <div class='col-md-4'></div>
       <div class='col-md-8'>	  
	    <p>Основательно, классно и с удовольствием!</p>       
	   </div>
	  </div>
	 </div>
     
	 <div class='clearfix'></div>
	
  	 <div class='row'> 
	  <div class='col-md-4'><h5>&copy; Copyright 2017 Sovique</h5></div>
	  <div class='col-md-8'><h5><a href='/'>Заказать прямо сейчас</a></h5></div>
	 </div>
	 
	</div>
   </div>
   
  </body> 
</html>
